@model ResetPasswordViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="reset-password-wrapper">
    <div class="forgot-password-top-text-wrapper">
        <h2 class="forgot-password-top-first-text">Şifre Değiştirme</h2>
        <p class="forgot-password-top-second-text">Yeni şifrenizi altta bulunan doldurma alanına giriniz.</p>
        <form id="reset-password-form" asp-action="ResetPassword" asp-controller="Auth" method="post" style="display: flex;justify-content: center;">
            @Html.AntiForgeryToken()
            <div id="forgot-password-input-area" class="forgot-password-input-area">
                <div class="input-wrapper forgot-password-input-wrapper">
                    <div class="input-content-wrapper forgot-password-input-content-wrapper">
                        <div class="image-wrapper">
                            <img src="~/images/password.svg" alt="password" class="login-register-image forgot-password-input-image">
                        </div>
                        <input id="reset-password" asp-for="Password" type="password" class="login-register-input" placeholder="Şifreniz">
                    </div>
                </div>
                <span class="error-message" for="password"></span>
                <div class="input-wrapper forgot-password-input-wrapper">
                    <div class="input-content-wrapper forgot-password-input-content-wrapper">
                        <div class="image-wrapper">
                            <img src="~/images/password.svg" alt="password" class="login-register-image forgot-password-input-image">
                        </div>
                        <input id="reset-password-confirmation" asp-for="PasswordConfirmation" type="password" class="login-register-input" placeholder="Şifrenizi Onaylayın">
                    </div>
                </div>
                <span class="error-message" for="password-confirmation"></span>
                <button type="submit" class="forgot-password-submit-button">
                    <p class="forgot-password-submit-button-text">Yenile</p>
                </button>
                <div class="forgot-password-back-to-login-wrapper">
                    <a href="/login" style="display: flex;align-items: center;">
                        <div class="forgot-password-back-to-login-content">
                            <div class="forgot-password-back-to-login-image-wrapper">
                                <svg class="forgot-password-back-to-login-image" width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.10461 5.00006L6.88586 8.78131L5.80572 9.86145L0.944336 5.00006L5.80572 0.138672L6.88586 1.21881L3.10461 5.00006Z" fill="#262338"/>
                                </svg>
                            </div>
                            <p class="forgot-password-back-to-login-text">Giriş yap</p>
                        </div>
                    </a>
                </div>
            </div>
            <input type="hidden" asp-for="Email" class="form-control"/>
            <input type="hidden" asp-for="Token" class="form-control"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="~/js/resetPassword.js"></script>
<script type="text/javascript" src="~/js/resetPasswordFormValidation.js"></script>
