@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Entities.Concrete
@using Business.Abstract
@inject SignInManager<User> SignInManager
@inject IAuthService AuthService
@{
    var currentUser = AuthService.GetCurrentUser();
    currentUser.Wait();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Oppio - @ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8c3a71541e.js" crossorigin="anonymous"></script>
</head>
<body>
@* REGISTER POPUP *@
<div id="popup-background" class="popup-background"></div>
<div id="register-popup-wrapper" class="register-popup-wrapper">
    <div class="register-popup-right-wrapper">
        <div onclick="closeRegisterPopup()" id="register-popup-close" class="register-popup-close-image-wrapper">
            <img src="~/images/close.svg" alt="" class="register-popup-close-image">
        </div>
        <div class="register-popup-right-content">
            <div class="register-popup-right-top-wrapper">
                <div class="register-popup-logo-wrapper">
                    <img alt="logo" class="register-popup-amblem-logo" src="~/images/logo/oppio-amblem-logo.svg">
                    <img alt="logo" class="register-popup-text-logo" src="~/images/logo/oppio-text-logo.svg">
                </div>
                <div class="register-popup-right-top-text-wrapper">
                    <h4 class="register-popup-right-top-first-text">
                        <span style="color: var(--main-dodger-blue)">Oppio’ya</span> katılmak için hesap oluştur
                    </h4>
                    <p class="register-popup-right-top-second-text">
                        Farklı görüşler, düşünceler ve fikirler edin.
                    </p>
                </div>
            </div>
            <form id="register-popup-form">
                <div class="register-popup-right-input-area-wrapper">
                    <div class="input-wrapper register-popup-input-wrapper">
                        <div class="register-popup-input-content-wrapper">
                            <div class="register-popup-image-wrapper">
                                <img src="~/images/nickname-logo.svg" alt="nickname" class="login-register-image register-popup-input-image">
                            </div>
                            <input id="nickname" name="Nickname" type="text" class="register-popup-input" placeholder="Kullanıcı Adı">
                        </div>
                    </div>
                    <span class="popup-error-message" for="nickname"></span>
                    <div class="input-wrapper register-popup-input-wrapper">
                        <div class="register-popup-input-content-wrapper">
                            <div class="register-popup-image-wrapper">
                                <img src="~/images/login-register-email.svg" alt="email" class="login-register-image register-popup-input-image">
                            </div>
                            <input id="email" name="Email" type="text" class="register-popup-input" placeholder="Eposta Adresiniz">
                        </div>
                    </div>
                    <span class="popup-error-message" for="email"></span>
                    <div class="input-wrapper register-popup-input-wrapper">
                        <div class="register-popup-input-content-wrapper">
                            <div class="register-popup-image-wrapper">
                                <img src="~/images/password.svg" alt="password" class="login-register-image register-popup-input-image">
                            </div>
                            <input id="password" name="Password" type="password" class="register-popup-input" placeholder="Şifreniz">
                        </div>
                    </div>
                    <span class="popup-error-message" for="password"></span>
                    <div class="input-wrapper register-popup-input-wrapper">
                        <div class="register-popup-input-content-wrapper">
                            <div class="register-popup-image-wrapper">
                                <img src="~/images/password.svg" alt="password" class="login-register-image register-popup-input-image">
                            </div>
                            <input id="password-confirmation" name="PasswordConfirmation" type="password" class="register-popup-input" placeholder="Şifrenizi Onaylayın">
                        </div>
                    </div>
                    <span class="popup-error-message" for="password-confirmation"></span>
                    <button onclick="registerPopupRegister()" class="register-popup-submit-button">
                        <span class="register-popup-submit-button-text">Kayıt Ol</span>
                    </button>
                </div>
            </form>
            <div class="register-popup-right-bottom-wrapper">
                <p class="register-popup-right-login-first-text">Zaten mevcut bir hesabınız var mı?</p>
                <a href="/login" class="register-popup-right-login-button">Giriş Yap</a>
            </div>
        </div>
    </div>
</div>
@* HAMBURGER MENU *@
<div id="hamburger-menu-background" class="hamburger-menu-background"></div>
<div id="hamburger-menu-wrapper" class="hamburger-menu-wrapper">
    <div id="close-hamburger-menu-image-wrapper" class="close-hamburger-menu-image-wrapper">
        <img src="~/images/close.svg" alt="x" class="close-hamburger-menu-image">
    </div>
    <div id="nav-mobile-search-wrapper" class="nav-mobile-search-wrapper">
        <div id="nav-mobile-search-input-wrapper" class="nav-mobile-search-input-wrapper">
            <svg class="nav-mobile-search-input-logo" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="nav-mobile-search-input-logo" d="M9.375 4.125C12.2729 4.125 14.625 6.47711 14.625 9.375C14.625 12.2729 12.2729 14.625 9.375 14.625C6.47711 14.625 4.125 12.2729 4.125 9.375C4.125 6.47711 6.47711 4.125 9.375 4.125ZM9.375 14.125C11.999 14.125 14.125 11.999 14.125 9.375C14.125 6.75036 11.9989 4.625 9.375 4.625C6.75039 4.625 4.625 6.75039 4.625 9.375C4.625 11.9989 6.75036 14.125 9.375 14.125ZM14.3247 14.6782L14.6782 14.3247L15.9159 15.5619L15.5619 15.9159L14.3247 14.6782Z" fill="#A0A3BD" stroke="#A0A3BD" stroke-width="0.75"/>
            </svg>
            <input id="nav-mobile-search-input" class="nav-mobile-search-input" placeholder="Oppy’de Ara"/>
        </div>
        <a href="#" class="nav-mobile-search-input-button">
            <img alt="search" src="~/images/search-button.svg" class="nav-mobile-search-button-logo"/>
        </a>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="hamburger-menu-logged-in-wrapper">
            <div class="hamburger-menu-user-wrapper">
                <div class="hamburger-menu-user-avatar-wrapper">
                    <img src="~/images/user-svgrepo-com.svg" alt="avatar" class="hamburger-menu-user-avatar">
                </div>
                <p class="hamburger-menu-user-nickname">
                    @currentUser.Result.Nickname
                </p>
            </div>
            <div class="hamburger-menu-logged-in-buttons-wrapper">
                <a href="#" class="hamburger-menu-button-wrapper hamburger-menu-button-wrapper-active">
                    <div class="hamburger-menu-button-image-wrapper">
                        <svg class="hamburger-menu-button-image" width="8" height="10" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.888672 16.6388C0.888672 15.0181 1.53252 13.4637 2.67857 12.3176C3.82463 11.1716 5.37901 10.5277 6.99978 10.5277C8.62055 10.5277 10.1749 11.1716 11.321 12.3176C12.467 13.4637 13.1109 15.0181 13.1109 16.6388H11.5831C11.5831 15.4233 11.1002 14.2575 10.2407 13.3979C9.38115 12.5384 8.21536 12.0555 6.99978 12.0555C5.78421 12.0555 4.61842 12.5384 3.75888 13.3979C2.89934 14.2575 2.41645 15.4233 2.41645 16.6388H0.888672ZM6.99978 9.76384C4.46749 9.76384 2.41645 7.71279 2.41645 5.1805C2.41645 2.64821 4.46749 0.597168 6.99978 0.597168C9.53207 0.597168 11.5831 2.64821 11.5831 5.1805C11.5831 7.71279 9.53207 9.76384 6.99978 9.76384ZM6.99978 8.23606C8.68798 8.23606 10.0553 6.8687 10.0553 5.1805C10.0553 3.49231 8.68798 2.12495 6.99978 2.12495C5.31159 2.12495 3.94423 3.49231 3.94423 5.1805C3.94423 6.8687 5.31159 8.23606 6.99978 8.23606Z" fill="var(--main-dodger-blue)"/>
                        </svg>
                    </div>
                    <p class="hamburger-menu-logged-in-button-text">
                        Profil
                    </p>
                </a>
                <a href="#" class="hamburger-menu-button-wrapper">
                    <div class="hamburger-menu-button-image-wrapper">
                        <svg class="hamburger-menu-button-image" width="9" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1108 11.8197H15.6386V13.3474H0.36084V11.8197H1.88862V6.47244C1.88862 4.85167 2.53247 3.29729 3.67852 2.15123C4.82458 1.00518 6.37896 0.361328 7.99973 0.361328C9.6205 0.361328 11.1749 1.00518 12.3209 2.15123C13.467 3.29729 14.1108 4.85167 14.1108 6.47244V11.8197ZM12.5831 11.8197V6.47244C12.5831 5.25686 12.1002 4.09107 11.2406 3.23153C10.3811 2.37199 9.21531 1.88911 7.99973 1.88911C6.78415 1.88911 5.61836 2.37199 4.75882 3.23153C3.89928 4.09107 3.4164 5.25686 3.4164 6.47244V11.8197H12.5831ZM5.70806 14.8752H10.2914V16.403H5.70806V14.8752Z" fill="var(--main-dodger-blue)"/>
                        </svg>
                    </div>
                    <p class="hamburger-menu-logged-in-button-text">
                        Bildirimler
                    </p>
                </a>
                <a href="#" class="hamburger-menu-button-wrapper">
                    <div class="hamburger-menu-button-image-wrapper">
                        <svg class="hamburger-menu-button-image" width="9" height="9" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.40307 14.7405L0.361337 15.6389L1.25967 11.5971C0.668063 10.4905 0.359448 9.25477 0.361337 7.99997C0.361337 3.78102 3.78127 0.361084 8.00023 0.361084C12.2192 0.361084 15.6391 3.78102 15.6391 7.99997C15.6391 12.2189 12.2192 15.6389 8.00023 15.6389C6.74543 15.6408 5.50966 15.3321 4.40307 14.7405V14.7405ZM4.6246 13.1264L5.12342 13.3938C6.00842 13.8667 6.99678 14.1132 8.00023 14.1111C9.20889 14.1111 10.3904 13.7527 11.3954 13.0812C12.4003 12.4097 13.1836 11.4553 13.6462 10.3386C14.1087 9.22194 14.2297 7.9932 13.9939 6.80776C13.7581 5.62232 13.1761 4.53342 12.3214 3.67877C11.4668 2.82411 10.3779 2.24208 9.19244 2.00629C8.007 1.77049 6.77826 1.89151 5.66161 2.35404C4.54495 2.81658 3.59052 3.59985 2.91902 4.60482C2.24753 5.60979 1.88911 6.79131 1.88911 7.99997C1.88911 9.019 2.13738 9.99984 2.60717 10.8768L2.87377 11.3756L2.37342 13.6268L4.6246 13.1264V13.1264Z" fill="var(--main-dodger-blue)"/>
                        </svg>

                    </div>
                    <p class="hamburger-menu-logged-in-button-text">
                        Mesajlar
                    </p>
                </a>
                <a href="#" class="hamburger-menu-button-wrapper">
                    <div class="hamburger-menu-button-image-wrapper">
                        <svg class="hamburger-menu-button-image" width="9" height="9" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.38478 11.8196C1.06186 11.2611 0.810842 10.6641 0.637695 10.0427C1.01453 9.85109 1.331 9.55892 1.55209 9.19857C1.77319 8.83822 1.89029 8.42373 1.89045 8.00096C1.89061 7.57819 1.77382 7.16361 1.55299 6.80309C1.33216 6.44258 1.01591 6.15018 0.639223 5.95823C0.984528 4.70965 1.642 3.56952 2.54971 2.64525C2.90422 2.87573 3.3156 3.00363 3.7383 3.0148C4.16101 3.02597 4.57856 2.91997 4.94475 2.70852C5.31094 2.49708 5.61149 2.18844 5.81314 1.81676C6.01479 1.44509 6.10967 1.02487 6.08728 0.602609C7.34167 0.278431 8.65794 0.278957 9.91207 0.604137C9.88988 1.02639 9.98495 1.44655 10.1867 1.81811C10.3886 2.18968 10.6892 2.49818 11.0555 2.70946C11.4217 2.92074 11.8393 3.02657 12.262 3.01524C12.6847 3.00391 13.096 2.87585 13.4504 2.64525C13.8927 3.09594 14.2853 3.60851 14.6153 4.18066C14.9461 4.75282 15.1936 5.34941 15.3624 5.95747C14.9856 6.14913 14.6691 6.4413 14.448 6.80165C14.2269 7.162 14.1098 7.57649 14.1097 7.99926C14.1095 8.42203 14.2263 8.83661 14.4471 9.19712C14.668 9.55764 14.9842 9.85004 15.3609 10.042C15.0156 11.2906 14.3581 12.4307 13.4504 13.355C13.0959 13.1245 12.6845 12.9966 12.2618 12.9854C11.8391 12.9742 11.4216 13.0802 11.0554 13.2917C10.6892 13.5031 10.3886 13.8118 10.187 14.1834C9.98533 14.5551 9.89045 14.9753 9.91283 15.3976C8.65845 15.7218 7.34217 15.7213 6.08804 15.3961C6.11023 14.9738 6.01517 14.5537 5.81336 14.1821C5.61156 13.8105 5.31089 13.502 4.94463 13.2908C4.57837 13.0795 4.16079 12.9736 3.73811 12.985C3.31543 12.9963 2.90412 13.1244 2.54971 13.355C2.09824 12.8943 1.70683 12.3784 1.38478 11.8196ZM5.70839 11.9693C6.52241 12.4388 7.13445 13.1923 7.42714 14.0852C7.80832 14.1211 8.19103 14.1219 8.57221 14.086C8.86509 13.1929 9.47742 12.4394 10.2917 11.97C11.1054 11.4992 12.0643 11.3455 12.9844 11.5384C13.206 11.2268 13.3969 10.8945 13.5558 10.5469C12.929 9.84676 12.5827 8.93985 12.5834 8.00011C12.5834 7.03761 12.9424 6.13851 13.5558 5.4533C13.3958 5.10585 13.204 4.77393 12.9829 4.46178C12.0634 4.65451 11.1051 4.5011 10.2917 4.03094C9.4777 3.56143 8.86566 2.80794 8.57297 1.91497C8.19179 1.87907 7.80908 1.8783 7.4279 1.91421C7.13503 2.8073 6.5227 3.56081 5.70839 4.03018C4.89468 4.50097 3.93577 4.65467 3.01568 4.46178C2.79459 4.77366 2.60328 5.10563 2.44429 5.4533C3.07112 6.15345 3.4174 7.06036 3.41672 8.00011C3.41672 8.96261 3.0577 9.8617 2.44429 10.5469C2.60431 10.8944 2.79609 11.2263 3.01721 11.5384C3.93672 11.3457 4.89501 11.4991 5.70839 11.9693ZM8.00006 10.2918C7.39227 10.2918 6.80937 10.0503 6.3796 9.62056C5.94983 9.19079 5.70839 8.60789 5.70839 8.00011C5.70839 7.39232 5.94983 6.80943 6.3796 6.37965C6.80937 5.94988 7.39227 5.70844 8.00006 5.70844C8.60784 5.70844 9.19074 5.94988 9.62051 6.37965C10.0503 6.80943 10.2917 7.39232 10.2917 8.00011C10.2917 8.60789 10.0503 9.19079 9.62051 9.62056C9.19074 10.0503 8.60784 10.2918 8.00006 10.2918ZM8.00006 8.764C8.20265 8.764 8.39695 8.68352 8.54021 8.54026C8.68346 8.397 8.76395 8.2027 8.76395 8.00011C8.76395 7.79751 8.68346 7.60321 8.54021 7.45996C8.39695 7.3167 8.20265 7.23622 8.00006 7.23622C7.79746 7.23622 7.60316 7.3167 7.45991 7.45996C7.31665 7.60321 7.23617 7.79751 7.23617 8.00011C7.23617 8.2027 7.31665 8.397 7.45991 8.54026C7.60316 8.68352 7.79746 8.764 8.00006 8.764Z" fill="var(--main-dodger-blue)"/>
                        </svg>
                    </div>
                    <p class="hamburger-menu-logged-in-button-text">
                        Ayarlar
                    </p>
                </a>
            </div>
        </div>
        <div class="hamburger-menu-bottom-wrapper" style="margin-top: 117px;">
            <div class="hamburger-menu-pages-wrapper">
                <div class="hamburger-menu-pages-content">
                    <a href="#" class="hamburger-menu-page-wrapper">
                        <p class="hamburger-menu-page-text">Hakkımızda</p>
                    </a>
                    <a href="#" class="hamburger-menu-page-wrapper">
                        <p class="hamburger-menu-page-text">Bize Ulaşın</p>
                    </a>
                    <a href="#" class="hamburger-menu-page-wrapper">
                        <p class="hamburger-menu-page-text">Kişisel Verilerin Kullanılması</p>
                    </a>
                </div>
            </div>
            <div class="hamburger-menu-social-media-wrapper">
                <div class="hamburger-menu-social-media-image-wrapper">
                    <a href="#" class="hamburger-menu-social-media-item hover-with-stroke">
                        <svg class="hamburger-menu-social-media-image" width="5" height="8" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.13683 5.09048V5.59048H4.63683H6.86102L6.79274 5.86363H4.63683H4.13683V6.36363V11.5928H3.86368V6.36363V5.86363H3.36368H1.31738V5.59048H3.36368H3.86368V5.09048V3.89881C3.86368 2.80449 3.97754 2.48554 4.14471 2.17233L4.14551 2.17082C4.31569 1.84935 4.57857 1.58647 4.90004 1.4163L4.90155 1.41549C5.21476 1.24832 5.53371 1.13446 6.62803 1.13446C6.76309 1.13446 6.88741 1.14028 7.00141 1.15126V1.40761H6.62803C5.78437 1.40761 5.41355 1.45186 5.03148 1.65627C4.75079 1.80595 4.53545 2.02122 4.38571 2.30185C4.18112 2.68407 4.13683 3.05485 4.13683 3.89881V5.09048Z" fill="#262338" stroke="#149BFC"/>
                        </svg>
                    </a>
                </div>
                <div class="hamburger-menu-social-media-image-wrapper">
                    <a href="#" class="hamburger-menu-social-media-item">
                        <svg class="hamburger-menu-social-media-image" width="9" height="8" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="path-1-inside-1_732_14353" fill="white">
                                <path d="M9.10059 1.8939C8.61677 1.89382 8.15226 2.08368 7.80701 2.42262C7.46176 2.76156 7.26336 3.22249 7.25452 3.70623L7.2367 4.70883C7.23565 4.76266 7.22324 4.81566 7.20027 4.86436C7.17731 4.91306 7.1443 4.95635 7.10343 4.99139C7.06255 5.02644 7.01473 5.05244 6.9631 5.06771C6.91146 5.08297 6.85719 5.08714 6.80383 5.07995L5.81014 4.945C4.50261 4.76676 3.24983 4.16456 2.04798 3.16323C1.66731 5.27029 2.41083 6.72995 4.20151 7.85605L5.31361 8.55501C5.36645 8.58822 5.41035 8.63387 5.44146 8.68796C5.47258 8.74206 5.48996 8.80296 5.4921 8.86533C5.49424 8.9277 5.48106 8.98964 5.45371 9.04574C5.42637 9.10184 5.3857 9.15039 5.33525 9.18713L4.32183 9.92746C4.92466 9.96502 5.49694 9.93829 5.97183 9.84407C8.97518 9.24442 10.9721 6.98458 10.9721 3.25681C10.9721 2.95252 10.3279 1.8939 9.10059 1.8939ZM5.98137 3.68267C5.99249 3.06905 6.18437 2.47234 6.533 1.96725C6.88164 1.46216 7.37153 1.07114 7.94133 0.843151C8.51114 0.61516 9.13554 0.560329 9.73636 0.685523C10.3372 0.810716 10.8877 1.11037 11.319 1.54697C11.7717 1.54379 12.1568 1.65837 13.0181 1.13638C12.8048 2.18036 12.6998 2.6336 12.2453 3.25681C12.2453 8.1215 9.25527 10.487 6.22136 11.0924C4.14104 11.5074 1.11604 10.8257 0.249023 9.92046C0.690806 9.88609 2.48595 9.6932 3.52356 8.93377C2.64573 8.35513 -0.848431 6.29899 1.44769 0.770984C2.52541 2.02949 3.61841 2.88632 4.72605 3.34083C5.4632 3.64321 5.64399 3.63684 5.98201 3.68331L5.98137 3.68267Z"/>
                            </mask>
                            <path d="M9.10059 1.8939C8.61677 1.89382 8.15226 2.08368 7.80701 2.42262C7.46176 2.76156 7.26336 3.22249 7.25452 3.70623L7.2367 4.70883C7.23565 4.76266 7.22324 4.81566 7.20027 4.86436C7.17731 4.91306 7.1443 4.95635 7.10343 4.99139C7.06255 5.02644 7.01473 5.05244 6.9631 5.06771C6.91146 5.08297 6.85719 5.08714 6.80383 5.07995L5.81014 4.945C4.50261 4.76676 3.24983 4.16456 2.04798 3.16323C1.66731 5.27029 2.41083 6.72995 4.20151 7.85605L5.31361 8.55501C5.36645 8.58822 5.41035 8.63387 5.44146 8.68796C5.47258 8.74206 5.48996 8.80296 5.4921 8.86533C5.49424 8.9277 5.48106 8.98964 5.45371 9.04574C5.42637 9.10184 5.3857 9.15039 5.33525 9.18713L4.32183 9.92746C4.92466 9.96502 5.49694 9.93829 5.97183 9.84407C8.97518 9.24442 10.9721 6.98458 10.9721 3.25681C10.9721 2.95252 10.3279 1.8939 9.10059 1.8939ZM5.98137 3.68267C5.99249 3.06905 6.18437 2.47234 6.533 1.96725C6.88164 1.46216 7.37153 1.07114 7.94133 0.843151C8.51114 0.61516 9.13554 0.560329 9.73636 0.685523C10.3372 0.810716 10.8877 1.11037 11.319 1.54697C11.7717 1.54379 12.1568 1.65837 13.0181 1.13638C12.8048 2.18036 12.6998 2.6336 12.2453 3.25681C12.2453 8.1215 9.25527 10.487 6.22136 11.0924C4.14104 11.5074 1.11604 10.8257 0.249023 9.92046C0.690806 9.88609 2.48595 9.6932 3.52356 8.93377C2.64573 8.35513 -0.848431 6.29899 1.44769 0.770984C2.52541 2.02949 3.61841 2.88632 4.72605 3.34083C5.4632 3.64321 5.64399 3.63684 5.98201 3.68331L5.98137 3.68267Z" fill="#262338"/>
                            <path d="M7.25452 3.70623L6.25469 3.68795L6.25468 3.68845L7.25452 3.70623ZM7.2367 4.70883L8.23651 4.72821L8.23654 4.72661L7.2367 4.70883ZM6.80383 5.07995L6.66925 6.07086L6.67031 6.071L6.80383 5.07995ZM5.81014 4.945L5.67507 5.93584L5.67556 5.9359L5.81014 4.945ZM2.04798 3.16323L2.68809 2.39494L1.36913 1.29604L1.06391 2.98544L2.04798 3.16323ZM4.20151 7.85605L3.66916 8.70258L3.66938 8.70271L4.20151 7.85605ZM5.31361 8.55501L4.78148 9.40167L4.78152 9.4017L5.31361 8.55501ZM5.33525 9.18713L4.7465 8.37882L4.74536 8.37964L5.33525 9.18713ZM4.32183 9.92746L3.73194 9.11998L1.49606 10.7534L4.25964 10.9255L4.32183 9.92746ZM5.97183 9.84407L6.16642 10.825L6.16762 10.8247L5.97183 9.84407ZM5.98137 3.68267L4.98154 3.66457L4.97384 4.08964L5.2746 4.39012L5.98137 3.68267ZM11.319 1.54697L10.6077 2.24977L10.9042 2.54991L11.3261 2.54694L11.319 1.54697ZM13.0181 1.13638L13.9978 1.33651L14.4555 -0.90413L12.4998 0.28118L13.0181 1.13638ZM12.2453 3.25681L11.4373 2.66755L11.2453 2.93088V3.25681H12.2453ZM6.22136 11.0924L6.41702 12.0731L6.41704 12.0731L6.22136 11.0924ZM0.249023 9.92046L0.171448 8.92348L-1.93371 9.08728L-0.473155 10.6122L0.249023 9.92046ZM3.52356 8.93377L4.11417 9.74073L5.2754 8.89083L4.07392 8.09885L3.52356 8.93377ZM1.44769 0.770984L2.20725 0.120541L1.14854 -1.11576L0.524189 0.387396L1.44769 0.770984ZM4.72605 3.34083L4.34642 4.26597L4.34655 4.26602L4.72605 3.34083ZM5.98201 3.68331L5.84582 4.67399L8.79425 5.07933L6.68878 2.97587L5.98201 3.68331ZM9.10076 0.893901C8.35486 0.893776 7.63872 1.18648 7.10645 1.70902L8.50756 3.13622C8.66579 2.98088 8.87868 2.89386 9.10042 2.8939L9.10076 0.893901ZM7.10645 1.70902C6.57418 2.23156 6.26832 2.94218 6.25469 3.68795L8.25436 3.7245C8.25841 3.5028 8.34933 3.29156 8.50756 3.13622L7.10645 1.70902ZM6.25468 3.68845L6.23686 4.69106L8.23654 4.72661L8.25436 3.724L6.25468 3.68845ZM6.23689 4.68945C6.23857 4.60235 6.25866 4.51658 6.29583 4.43778L8.10472 5.29095C8.18783 5.11475 8.23274 4.92298 8.23651 4.72821L6.23689 4.68945ZM6.29583 4.43778C6.33299 4.35898 6.3864 4.28893 6.45254 4.23221L7.75431 5.75057C7.90221 5.62377 8.02162 5.46714 8.10472 5.29095L6.29583 4.43778ZM6.45254 4.23221C6.51869 4.1755 6.59608 4.13342 6.67962 4.10873L7.24657 6.02669C7.43338 5.97147 7.60641 5.87737 7.75431 5.75057L6.45254 4.23221ZM6.67962 4.10873C6.76317 4.08403 6.851 4.07727 6.93735 4.08891L6.67031 6.071C6.86337 6.09701 7.05975 6.08191 7.24657 6.02669L6.67962 4.10873ZM6.9384 4.08905L5.94471 3.9541L5.67556 5.9359L6.66925 6.07086L6.9384 4.08905ZM5.94521 3.95416C4.86103 3.80637 3.77791 3.30293 2.68809 2.39494L1.40788 3.93152C2.72176 5.02619 4.14419 5.72715 5.67507 5.93584L5.94521 3.95416ZM1.06391 2.98544C0.845252 4.19576 0.936384 5.30667 1.40577 6.30351C1.87194 7.29351 2.66386 8.07037 3.66916 8.70258L4.73386 7.00953C3.94849 6.51563 3.47331 5.99961 3.21521 5.45149C2.96033 4.91021 2.87004 4.23776 3.03205 3.34102L1.06391 2.98544ZM3.66938 8.70271L4.78148 9.40167L5.84574 7.70835L4.73364 7.00939L3.66938 8.70271ZM4.78152 9.4017C4.69602 9.34797 4.62498 9.2741 4.57463 9.18656L6.3083 8.18937C6.19571 7.99363 6.03688 7.82847 5.8457 7.70832L4.78152 9.4017ZM4.57463 9.18656C4.52427 9.09902 4.49614 9.00047 4.49269 8.89955L6.49151 8.83111C6.48379 8.60544 6.42088 8.3851 6.3083 8.18937L4.57463 9.18656ZM4.49269 8.89955C4.48923 8.79863 4.51056 8.69839 4.55481 8.6076L6.35262 9.48388C6.45156 9.2809 6.49924 9.05677 6.49151 8.83111L4.49269 8.89955ZM4.55481 8.6076C4.59905 8.51683 4.66487 8.43828 4.7465 8.37882L5.92401 9.99544C6.10653 9.8625 6.25369 9.68685 6.35262 9.48388L4.55481 8.6076ZM4.74536 8.37964L3.73194 9.11998L4.91171 10.7349L5.92514 9.99461L4.74536 8.37964ZM4.25964 10.9255C4.9237 10.9669 5.58575 10.9402 6.16642 10.825L5.77723 8.86319C5.40813 8.93642 4.92562 8.96314 4.38401 8.9294L4.25964 10.9255ZM6.16762 10.8247C7.86946 10.4849 9.34134 9.66032 10.3826 8.34382C11.4222 7.0293 11.9721 5.3013 11.9721 3.25681H9.97212C9.97212 4.94009 9.52354 6.20589 8.81389 7.10315C8.10582 7.99842 7.07755 8.60357 5.77603 8.86343L6.16762 10.8247ZM11.9721 3.25681C11.9721 2.91965 11.8289 2.61264 11.7247 2.42673C11.5975 2.1996 11.4184 1.96056 11.1901 1.74078C10.729 1.29697 10.0232 0.893901 9.10059 0.893901V2.8939C9.40532 2.8939 9.63525 3.02015 9.80311 3.18172C9.88924 3.26462 9.94796 3.3473 9.97986 3.40423C9.99579 3.43267 9.99926 3.4444 9.99661 3.43671C9.99514 3.43245 9.99011 3.4173 9.98497 3.39226C9.98026 3.36928 9.97212 3.32197 9.97212 3.25681H11.9721ZM6.98121 3.70078C6.98876 3.28388 7.11913 2.87847 7.35599 2.53531L5.71002 1.39919C5.24961 2.0662 4.99621 2.85422 4.98154 3.66457L6.98121 3.70078ZM7.35599 2.53531C7.59285 2.19215 7.92569 1.92649 8.31282 1.77159L7.56985 -0.0852877C6.81736 0.215795 6.17042 0.732171 5.71002 1.39919L7.35599 2.53531ZM8.31282 1.77159C8.69995 1.61669 9.12417 1.57944 9.53237 1.6645L9.94035 -0.293451C9.14691 -0.45878 8.32233 -0.386371 7.56985 -0.0852877L8.31282 1.77159ZM9.53237 1.6645C9.94057 1.74955 10.3146 1.95314 10.6077 2.24977L12.0304 0.844169C11.4608 0.267601 10.7338 -0.128121 9.94035 -0.293451L9.53237 1.6645ZM11.3261 2.54694C11.3871 2.54651 11.8134 2.57493 12.1559 2.52629C12.5778 2.46637 13.0168 2.30648 13.5364 1.99158L12.4998 0.28118C12.1581 0.488265 11.9739 0.532077 11.8747 0.546162C11.8178 0.554248 11.7588 0.556671 11.6732 0.555054C11.6234 0.554112 11.4328 0.546143 11.312 0.546993L11.3261 2.54694ZM12.0383 0.936242C11.8252 1.97929 11.7514 2.23694 11.4373 2.66755L13.0532 3.84606C13.6482 3.03026 13.7844 2.38143 13.9978 1.33651L12.0383 0.936242ZM11.2453 3.25681C11.2453 5.47158 10.5703 7.03612 9.62166 8.10969C8.66268 9.19498 7.36493 9.8445 6.02568 10.1117L6.41704 12.0731C8.11171 11.7349 9.82591 10.899 11.1204 9.434C12.4252 7.95729 13.2453 5.90673 13.2453 3.25681H11.2453ZM6.02571 10.1117C5.15412 10.2856 4.01891 10.2357 2.98199 10.0221C2.47037 9.91669 2.01048 9.77696 1.64401 9.62241C1.25927 9.46016 1.05124 9.31232 0.971202 9.22875L-0.473155 10.6122C-0.119685 10.9812 0.375539 11.258 0.866843 11.4652C1.37642 11.6801 1.96536 11.8546 2.57841 11.981C3.79083 12.2307 5.20828 12.3142 6.41702 12.0731L6.02571 10.1117ZM0.326599 10.9174C0.578825 10.8978 1.19123 10.8355 1.88947 10.673C2.56703 10.5153 3.43202 10.24 4.11417 9.74073L2.93295 8.12682C2.57749 8.38698 2.0261 8.58778 1.43624 8.72503C0.867056 8.85746 0.361004 8.90873 0.171448 8.92348L0.326599 10.9174ZM4.07392 8.09885C3.61439 7.79593 2.73423 7.25866 2.17343 6.2298C1.64513 5.26057 1.31932 3.68701 2.3712 1.15457L0.524189 0.387396C-0.720058 3.38297 -0.446854 5.60148 0.417355 7.18698C1.24906 8.71285 2.5549 9.49296 2.9732 9.7687L4.07392 8.09885ZM0.688138 1.42143C1.83152 2.75661 3.04687 3.73271 4.34642 4.26597L5.10568 2.41569C4.18995 2.03993 3.21931 1.30237 2.20725 0.120541L0.688138 1.42143ZM4.34655 4.26602C4.74088 4.42777 5.02464 4.52296 5.27592 4.58175C5.51594 4.6379 5.7312 4.65823 5.84582 4.67399L6.11821 2.69263C5.89481 2.66192 5.85066 2.6622 5.73149 2.63432C5.62358 2.60908 5.44838 2.55627 5.10555 2.41564L4.34655 4.26602ZM6.68878 2.97587L6.68814 2.97523L5.2746 4.39012L5.27524 4.39075L6.68878 2.97587Z" fill="#149BFC" mask="url(#path-1-inside-1_732_14353)"/>
                        </svg>
                    </a>
                </div>
                <div class="hamburger-menu-social-media-image-wrapper">
                    <a href="#" class="hamburger-menu-social-media-item">
                        <svg class="hamburger-menu-social-media-image" width="9" height="9" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.00022 5.70855C7.39243 5.70855 6.80953 5.94999 6.37976 6.37976C5.94999 6.80953 5.70855 7.39243 5.70855 8.00022C5.70855 8.608 5.94999 9.1909 6.37976 9.62067C6.80953 10.0504 7.39243 10.2919 8.00022 10.2919C8.608 10.2919 9.1909 10.0504 9.62067 9.62067C10.0504 9.1909 10.2919 8.608 10.2919 8.00022C10.2919 7.39243 10.0504 6.80953 9.62067 6.37976C9.1909 5.94999 8.608 5.70855 8.00022 5.70855ZM8.00022 4.18077C9.0132 4.18077 9.98469 4.58318 10.701 5.29946C11.4173 6.01575 11.8197 6.98724 11.8197 8.00022C11.8197 9.0132 11.4173 9.98469 10.701 10.701C9.98469 11.4173 9.0132 11.8197 8.00022 11.8197C6.98724 11.8197 6.01575 11.4173 5.29946 10.701C4.58318 9.98469 4.18077 9.0132 4.18077 8.00022C4.18077 6.98724 4.58318 6.01575 5.29946 5.29946C6.01575 4.58318 6.98724 4.18077 8.00022 4.18077ZM12.9655 3.9898C12.9655 4.24305 12.8649 4.48592 12.6858 4.66499C12.5068 4.84406 12.2639 4.94466 12.0106 4.94466C11.7574 4.94466 11.5145 4.84406 11.3354 4.66499C11.1564 4.48592 11.0558 4.24305 11.0558 3.9898C11.0558 3.73656 11.1564 3.49368 11.3354 3.31461C11.5145 3.13554 11.7574 3.03494 12.0106 3.03494C12.2639 3.03494 12.5068 3.13554 12.6858 3.31461C12.8649 3.49368 12.9655 3.73656 12.9655 3.9898ZM8.00022 1.88911C6.11036 1.88911 5.80174 1.89445 4.92251 1.93341C4.32362 1.96168 3.92181 2.04188 3.54904 2.18702C3.21751 2.31536 2.97841 2.4689 2.72404 2.72404C2.48494 2.95504 2.30111 3.23705 2.18626 3.54904C2.04112 3.92334 1.96091 4.32438 1.93341 4.92251C1.89369 5.76584 1.88911 6.0607 1.88911 8.00022C1.88911 9.89008 1.89445 10.1987 1.93341 11.0779C1.96168 11.6761 2.04188 12.0786 2.18626 12.4506C2.31612 12.7829 2.4689 13.022 2.72251 13.2756C2.97994 13.5323 3.21904 13.6858 3.54751 13.8126C3.92487 13.9585 4.32668 14.0395 4.92251 14.067C5.76584 14.1067 6.0607 14.1113 8.00022 14.1113C9.89008 14.1113 10.1987 14.106 11.0779 14.067C11.6753 14.0388 12.0779 13.9586 12.4506 13.8142C12.7814 13.6851 13.022 13.5315 13.2756 13.2779C13.5331 13.0205 13.6866 12.7814 13.8134 12.4529C13.9586 12.0763 14.0395 11.6738 14.067 11.0779C14.1067 10.2346 14.1113 9.93973 14.1113 8.00022C14.1113 6.11036 14.106 5.80174 14.067 4.92251C14.0388 4.32515 13.9586 3.92181 13.8134 3.54904C13.6983 3.23737 13.5148 2.95546 13.2764 2.72404C13.0455 2.48482 12.7635 2.30097 12.4514 2.18626C12.0771 2.04112 11.6753 1.96091 11.0779 1.93341C10.2346 1.89369 9.93973 1.88911 8.00022 1.88911ZM8.00022 0.361328C10.0757 0.361328 10.3347 0.368967 11.149 0.407161C11.9625 0.445356 12.5163 0.572925 13.0037 0.76237C13.5079 0.956398 13.9326 1.21918 14.3573 1.64313C14.7457 2.025 15.0463 2.48692 15.2381 2.99674C15.4267 3.48334 15.5551 4.03793 15.5933 4.85147C15.6292 5.66577 15.6391 5.92473 15.6391 8.00022C15.6391 10.0757 15.6315 10.3347 15.5933 11.149C15.5551 11.9625 15.4267 12.5163 15.2381 13.0037C15.0468 13.5138 14.7462 13.9758 14.3573 14.3573C13.9753 14.7456 13.5134 15.0461 13.0037 15.2381C12.5171 15.4267 11.9625 15.5551 11.149 15.5933C10.3347 15.6292 10.0757 15.6391 8.00022 15.6391C5.92473 15.6391 5.66577 15.6315 4.85147 15.5933C4.03793 15.5551 3.48411 15.4267 2.99674 15.2381C2.48672 15.0467 2.02472 14.7461 1.64313 14.3573C1.25462 13.9755 0.954053 13.5136 0.76237 13.0037C0.572925 12.5171 0.445356 11.9625 0.407161 11.149C0.371259 10.3347 0.361328 10.0757 0.361328 8.00022C0.361328 5.92473 0.368967 5.66577 0.407161 4.85147C0.445356 4.03716 0.572925 3.48411 0.76237 2.99674C0.953522 2.4866 1.25416 2.02456 1.64313 1.64313C2.02483 1.25449 2.48679 0.953899 2.99674 0.76237C3.48411 0.572925 4.03716 0.445356 4.85147 0.407161C5.66577 0.371259 5.92473 0.361328 8.00022 0.361328Z" fill="#149BFC"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="hamburger-menu-buttons-wrapper">
            <a href="/login" class="hamburger-menu-button-wrapper hamburger-menu-button-active">
                <p class="hamburger-menu-button-text">Giriş Yap</p>
            </a>
            <a href="/register" class="hamburger-menu-button-wrapper">
                <p class="hamburger-menu-button-text">Kayıt Ol</p>
            </a>
        </div>
        <div class="hamburger-menu-bottom-wrapper">
            <div class="hamburger-menu-pages-wrapper">
                <div class="hamburger-menu-pages-content">
                    <a href="#" class="hamburger-menu-page-wrapper">
                        <p class="hamburger-menu-page-text">Hakkımızda</p>
                    </a>
                    <a href="#" class="hamburger-menu-page-wrapper">
                        <p class="hamburger-menu-page-text">Bize Ulaşın</p>
                    </a>
                    <a href="#" class="hamburger-menu-page-wrapper">
                        <p class="hamburger-menu-page-text">Kişisel Verilerin Kullanılması</p>
                    </a>
                </div>
            </div>
            <div class="hamburger-menu-social-media-wrapper">
                <div class="hamburger-menu-social-media-image-wrapper">
                    <a href="#" class="hamburger-menu-social-media-item hover-with-stroke">
                        <svg class="hamburger-menu-social-media-image" width="5" height="8" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.13683 5.09048V5.59048H4.63683H6.86102L6.79274 5.86363H4.63683H4.13683V6.36363V11.5928H3.86368V6.36363V5.86363H3.36368H1.31738V5.59048H3.36368H3.86368V5.09048V3.89881C3.86368 2.80449 3.97754 2.48554 4.14471 2.17233L4.14551 2.17082C4.31569 1.84935 4.57857 1.58647 4.90004 1.4163L4.90155 1.41549C5.21476 1.24832 5.53371 1.13446 6.62803 1.13446C6.76309 1.13446 6.88741 1.14028 7.00141 1.15126V1.40761H6.62803C5.78437 1.40761 5.41355 1.45186 5.03148 1.65627C4.75079 1.80595 4.53545 2.02122 4.38571 2.30185C4.18112 2.68407 4.13683 3.05485 4.13683 3.89881V5.09048Z" fill="#262338" stroke="#149BFC"/>
                        </svg>
                    </a>
                </div>
                <div class="hamburger-menu-social-media-image-wrapper">
                    <a href="#" class="hamburger-menu-social-media-item">
                        <svg class="hamburger-menu-social-media-image" width="9" height="8" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="path-1-inside-1_732_14353" fill="white">
                                <path d="M9.10059 1.8939C8.61677 1.89382 8.15226 2.08368 7.80701 2.42262C7.46176 2.76156 7.26336 3.22249 7.25452 3.70623L7.2367 4.70883C7.23565 4.76266 7.22324 4.81566 7.20027 4.86436C7.17731 4.91306 7.1443 4.95635 7.10343 4.99139C7.06255 5.02644 7.01473 5.05244 6.9631 5.06771C6.91146 5.08297 6.85719 5.08714 6.80383 5.07995L5.81014 4.945C4.50261 4.76676 3.24983 4.16456 2.04798 3.16323C1.66731 5.27029 2.41083 6.72995 4.20151 7.85605L5.31361 8.55501C5.36645 8.58822 5.41035 8.63387 5.44146 8.68796C5.47258 8.74206 5.48996 8.80296 5.4921 8.86533C5.49424 8.9277 5.48106 8.98964 5.45371 9.04574C5.42637 9.10184 5.3857 9.15039 5.33525 9.18713L4.32183 9.92746C4.92466 9.96502 5.49694 9.93829 5.97183 9.84407C8.97518 9.24442 10.9721 6.98458 10.9721 3.25681C10.9721 2.95252 10.3279 1.8939 9.10059 1.8939ZM5.98137 3.68267C5.99249 3.06905 6.18437 2.47234 6.533 1.96725C6.88164 1.46216 7.37153 1.07114 7.94133 0.843151C8.51114 0.61516 9.13554 0.560329 9.73636 0.685523C10.3372 0.810716 10.8877 1.11037 11.319 1.54697C11.7717 1.54379 12.1568 1.65837 13.0181 1.13638C12.8048 2.18036 12.6998 2.6336 12.2453 3.25681C12.2453 8.1215 9.25527 10.487 6.22136 11.0924C4.14104 11.5074 1.11604 10.8257 0.249023 9.92046C0.690806 9.88609 2.48595 9.6932 3.52356 8.93377C2.64573 8.35513 -0.848431 6.29899 1.44769 0.770984C2.52541 2.02949 3.61841 2.88632 4.72605 3.34083C5.4632 3.64321 5.64399 3.63684 5.98201 3.68331L5.98137 3.68267Z"/>
                            </mask>
                            <path d="M9.10059 1.8939C8.61677 1.89382 8.15226 2.08368 7.80701 2.42262C7.46176 2.76156 7.26336 3.22249 7.25452 3.70623L7.2367 4.70883C7.23565 4.76266 7.22324 4.81566 7.20027 4.86436C7.17731 4.91306 7.1443 4.95635 7.10343 4.99139C7.06255 5.02644 7.01473 5.05244 6.9631 5.06771C6.91146 5.08297 6.85719 5.08714 6.80383 5.07995L5.81014 4.945C4.50261 4.76676 3.24983 4.16456 2.04798 3.16323C1.66731 5.27029 2.41083 6.72995 4.20151 7.85605L5.31361 8.55501C5.36645 8.58822 5.41035 8.63387 5.44146 8.68796C5.47258 8.74206 5.48996 8.80296 5.4921 8.86533C5.49424 8.9277 5.48106 8.98964 5.45371 9.04574C5.42637 9.10184 5.3857 9.15039 5.33525 9.18713L4.32183 9.92746C4.92466 9.96502 5.49694 9.93829 5.97183 9.84407C8.97518 9.24442 10.9721 6.98458 10.9721 3.25681C10.9721 2.95252 10.3279 1.8939 9.10059 1.8939ZM5.98137 3.68267C5.99249 3.06905 6.18437 2.47234 6.533 1.96725C6.88164 1.46216 7.37153 1.07114 7.94133 0.843151C8.51114 0.61516 9.13554 0.560329 9.73636 0.685523C10.3372 0.810716 10.8877 1.11037 11.319 1.54697C11.7717 1.54379 12.1568 1.65837 13.0181 1.13638C12.8048 2.18036 12.6998 2.6336 12.2453 3.25681C12.2453 8.1215 9.25527 10.487 6.22136 11.0924C4.14104 11.5074 1.11604 10.8257 0.249023 9.92046C0.690806 9.88609 2.48595 9.6932 3.52356 8.93377C2.64573 8.35513 -0.848431 6.29899 1.44769 0.770984C2.52541 2.02949 3.61841 2.88632 4.72605 3.34083C5.4632 3.64321 5.64399 3.63684 5.98201 3.68331L5.98137 3.68267Z" fill="#262338"/>
                            <path d="M7.25452 3.70623L6.25469 3.68795L6.25468 3.68845L7.25452 3.70623ZM7.2367 4.70883L8.23651 4.72821L8.23654 4.72661L7.2367 4.70883ZM6.80383 5.07995L6.66925 6.07086L6.67031 6.071L6.80383 5.07995ZM5.81014 4.945L5.67507 5.93584L5.67556 5.9359L5.81014 4.945ZM2.04798 3.16323L2.68809 2.39494L1.36913 1.29604L1.06391 2.98544L2.04798 3.16323ZM4.20151 7.85605L3.66916 8.70258L3.66938 8.70271L4.20151 7.85605ZM5.31361 8.55501L4.78148 9.40167L4.78152 9.4017L5.31361 8.55501ZM5.33525 9.18713L4.7465 8.37882L4.74536 8.37964L5.33525 9.18713ZM4.32183 9.92746L3.73194 9.11998L1.49606 10.7534L4.25964 10.9255L4.32183 9.92746ZM5.97183 9.84407L6.16642 10.825L6.16762 10.8247L5.97183 9.84407ZM5.98137 3.68267L4.98154 3.66457L4.97384 4.08964L5.2746 4.39012L5.98137 3.68267ZM11.319 1.54697L10.6077 2.24977L10.9042 2.54991L11.3261 2.54694L11.319 1.54697ZM13.0181 1.13638L13.9978 1.33651L14.4555 -0.90413L12.4998 0.28118L13.0181 1.13638ZM12.2453 3.25681L11.4373 2.66755L11.2453 2.93088V3.25681H12.2453ZM6.22136 11.0924L6.41702 12.0731L6.41704 12.0731L6.22136 11.0924ZM0.249023 9.92046L0.171448 8.92348L-1.93371 9.08728L-0.473155 10.6122L0.249023 9.92046ZM3.52356 8.93377L4.11417 9.74073L5.2754 8.89083L4.07392 8.09885L3.52356 8.93377ZM1.44769 0.770984L2.20725 0.120541L1.14854 -1.11576L0.524189 0.387396L1.44769 0.770984ZM4.72605 3.34083L4.34642 4.26597L4.34655 4.26602L4.72605 3.34083ZM5.98201 3.68331L5.84582 4.67399L8.79425 5.07933L6.68878 2.97587L5.98201 3.68331ZM9.10076 0.893901C8.35486 0.893776 7.63872 1.18648 7.10645 1.70902L8.50756 3.13622C8.66579 2.98088 8.87868 2.89386 9.10042 2.8939L9.10076 0.893901ZM7.10645 1.70902C6.57418 2.23156 6.26832 2.94218 6.25469 3.68795L8.25436 3.7245C8.25841 3.5028 8.34933 3.29156 8.50756 3.13622L7.10645 1.70902ZM6.25468 3.68845L6.23686 4.69106L8.23654 4.72661L8.25436 3.724L6.25468 3.68845ZM6.23689 4.68945C6.23857 4.60235 6.25866 4.51658 6.29583 4.43778L8.10472 5.29095C8.18783 5.11475 8.23274 4.92298 8.23651 4.72821L6.23689 4.68945ZM6.29583 4.43778C6.33299 4.35898 6.3864 4.28893 6.45254 4.23221L7.75431 5.75057C7.90221 5.62377 8.02162 5.46714 8.10472 5.29095L6.29583 4.43778ZM6.45254 4.23221C6.51869 4.1755 6.59608 4.13342 6.67962 4.10873L7.24657 6.02669C7.43338 5.97147 7.60641 5.87737 7.75431 5.75057L6.45254 4.23221ZM6.67962 4.10873C6.76317 4.08403 6.851 4.07727 6.93735 4.08891L6.67031 6.071C6.86337 6.09701 7.05975 6.08191 7.24657 6.02669L6.67962 4.10873ZM6.9384 4.08905L5.94471 3.9541L5.67556 5.9359L6.66925 6.07086L6.9384 4.08905ZM5.94521 3.95416C4.86103 3.80637 3.77791 3.30293 2.68809 2.39494L1.40788 3.93152C2.72176 5.02619 4.14419 5.72715 5.67507 5.93584L5.94521 3.95416ZM1.06391 2.98544C0.845252 4.19576 0.936384 5.30667 1.40577 6.30351C1.87194 7.29351 2.66386 8.07037 3.66916 8.70258L4.73386 7.00953C3.94849 6.51563 3.47331 5.99961 3.21521 5.45149C2.96033 4.91021 2.87004 4.23776 3.03205 3.34102L1.06391 2.98544ZM3.66938 8.70271L4.78148 9.40167L5.84574 7.70835L4.73364 7.00939L3.66938 8.70271ZM4.78152 9.4017C4.69602 9.34797 4.62498 9.2741 4.57463 9.18656L6.3083 8.18937C6.19571 7.99363 6.03688 7.82847 5.8457 7.70832L4.78152 9.4017ZM4.57463 9.18656C4.52427 9.09902 4.49614 9.00047 4.49269 8.89955L6.49151 8.83111C6.48379 8.60544 6.42088 8.3851 6.3083 8.18937L4.57463 9.18656ZM4.49269 8.89955C4.48923 8.79863 4.51056 8.69839 4.55481 8.6076L6.35262 9.48388C6.45156 9.2809 6.49924 9.05677 6.49151 8.83111L4.49269 8.89955ZM4.55481 8.6076C4.59905 8.51683 4.66487 8.43828 4.7465 8.37882L5.92401 9.99544C6.10653 9.8625 6.25369 9.68685 6.35262 9.48388L4.55481 8.6076ZM4.74536 8.37964L3.73194 9.11998L4.91171 10.7349L5.92514 9.99461L4.74536 8.37964ZM4.25964 10.9255C4.9237 10.9669 5.58575 10.9402 6.16642 10.825L5.77723 8.86319C5.40813 8.93642 4.92562 8.96314 4.38401 8.9294L4.25964 10.9255ZM6.16762 10.8247C7.86946 10.4849 9.34134 9.66032 10.3826 8.34382C11.4222 7.0293 11.9721 5.3013 11.9721 3.25681H9.97212C9.97212 4.94009 9.52354 6.20589 8.81389 7.10315C8.10582 7.99842 7.07755 8.60357 5.77603 8.86343L6.16762 10.8247ZM11.9721 3.25681C11.9721 2.91965 11.8289 2.61264 11.7247 2.42673C11.5975 2.1996 11.4184 1.96056 11.1901 1.74078C10.729 1.29697 10.0232 0.893901 9.10059 0.893901V2.8939C9.40532 2.8939 9.63525 3.02015 9.80311 3.18172C9.88924 3.26462 9.94796 3.3473 9.97986 3.40423C9.99579 3.43267 9.99926 3.4444 9.99661 3.43671C9.99514 3.43245 9.99011 3.4173 9.98497 3.39226C9.98026 3.36928 9.97212 3.32197 9.97212 3.25681H11.9721ZM6.98121 3.70078C6.98876 3.28388 7.11913 2.87847 7.35599 2.53531L5.71002 1.39919C5.24961 2.0662 4.99621 2.85422 4.98154 3.66457L6.98121 3.70078ZM7.35599 2.53531C7.59285 2.19215 7.92569 1.92649 8.31282 1.77159L7.56985 -0.0852877C6.81736 0.215795 6.17042 0.732171 5.71002 1.39919L7.35599 2.53531ZM8.31282 1.77159C8.69995 1.61669 9.12417 1.57944 9.53237 1.6645L9.94035 -0.293451C9.14691 -0.45878 8.32233 -0.386371 7.56985 -0.0852877L8.31282 1.77159ZM9.53237 1.6645C9.94057 1.74955 10.3146 1.95314 10.6077 2.24977L12.0304 0.844169C11.4608 0.267601 10.7338 -0.128121 9.94035 -0.293451L9.53237 1.6645ZM11.3261 2.54694C11.3871 2.54651 11.8134 2.57493 12.1559 2.52629C12.5778 2.46637 13.0168 2.30648 13.5364 1.99158L12.4998 0.28118C12.1581 0.488265 11.9739 0.532077 11.8747 0.546162C11.8178 0.554248 11.7588 0.556671 11.6732 0.555054C11.6234 0.554112 11.4328 0.546143 11.312 0.546993L11.3261 2.54694ZM12.0383 0.936242C11.8252 1.97929 11.7514 2.23694 11.4373 2.66755L13.0532 3.84606C13.6482 3.03026 13.7844 2.38143 13.9978 1.33651L12.0383 0.936242ZM11.2453 3.25681C11.2453 5.47158 10.5703 7.03612 9.62166 8.10969C8.66268 9.19498 7.36493 9.8445 6.02568 10.1117L6.41704 12.0731C8.11171 11.7349 9.82591 10.899 11.1204 9.434C12.4252 7.95729 13.2453 5.90673 13.2453 3.25681H11.2453ZM6.02571 10.1117C5.15412 10.2856 4.01891 10.2357 2.98199 10.0221C2.47037 9.91669 2.01048 9.77696 1.64401 9.62241C1.25927 9.46016 1.05124 9.31232 0.971202 9.22875L-0.473155 10.6122C-0.119685 10.9812 0.375539 11.258 0.866843 11.4652C1.37642 11.6801 1.96536 11.8546 2.57841 11.981C3.79083 12.2307 5.20828 12.3142 6.41702 12.0731L6.02571 10.1117ZM0.326599 10.9174C0.578825 10.8978 1.19123 10.8355 1.88947 10.673C2.56703 10.5153 3.43202 10.24 4.11417 9.74073L2.93295 8.12682C2.57749 8.38698 2.0261 8.58778 1.43624 8.72503C0.867056 8.85746 0.361004 8.90873 0.171448 8.92348L0.326599 10.9174ZM4.07392 8.09885C3.61439 7.79593 2.73423 7.25866 2.17343 6.2298C1.64513 5.26057 1.31932 3.68701 2.3712 1.15457L0.524189 0.387396C-0.720058 3.38297 -0.446854 5.60148 0.417355 7.18698C1.24906 8.71285 2.5549 9.49296 2.9732 9.7687L4.07392 8.09885ZM0.688138 1.42143C1.83152 2.75661 3.04687 3.73271 4.34642 4.26597L5.10568 2.41569C4.18995 2.03993 3.21931 1.30237 2.20725 0.120541L0.688138 1.42143ZM4.34655 4.26602C4.74088 4.42777 5.02464 4.52296 5.27592 4.58175C5.51594 4.6379 5.7312 4.65823 5.84582 4.67399L6.11821 2.69263C5.89481 2.66192 5.85066 2.6622 5.73149 2.63432C5.62358 2.60908 5.44838 2.55627 5.10555 2.41564L4.34655 4.26602ZM6.68878 2.97587L6.68814 2.97523L5.2746 4.39012L5.27524 4.39075L6.68878 2.97587Z" fill="#149BFC" mask="url(#path-1-inside-1_732_14353)"/>
                        </svg>
                    </a>
                </div>
                <div class="hamburger-menu-social-media-image-wrapper">
                    <a href="#" class="hamburger-menu-social-media-item">
                        <svg class="hamburger-menu-social-media-image" width="9" height="9" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.00022 5.70855C7.39243 5.70855 6.80953 5.94999 6.37976 6.37976C5.94999 6.80953 5.70855 7.39243 5.70855 8.00022C5.70855 8.608 5.94999 9.1909 6.37976 9.62067C6.80953 10.0504 7.39243 10.2919 8.00022 10.2919C8.608 10.2919 9.1909 10.0504 9.62067 9.62067C10.0504 9.1909 10.2919 8.608 10.2919 8.00022C10.2919 7.39243 10.0504 6.80953 9.62067 6.37976C9.1909 5.94999 8.608 5.70855 8.00022 5.70855ZM8.00022 4.18077C9.0132 4.18077 9.98469 4.58318 10.701 5.29946C11.4173 6.01575 11.8197 6.98724 11.8197 8.00022C11.8197 9.0132 11.4173 9.98469 10.701 10.701C9.98469 11.4173 9.0132 11.8197 8.00022 11.8197C6.98724 11.8197 6.01575 11.4173 5.29946 10.701C4.58318 9.98469 4.18077 9.0132 4.18077 8.00022C4.18077 6.98724 4.58318 6.01575 5.29946 5.29946C6.01575 4.58318 6.98724 4.18077 8.00022 4.18077ZM12.9655 3.9898C12.9655 4.24305 12.8649 4.48592 12.6858 4.66499C12.5068 4.84406 12.2639 4.94466 12.0106 4.94466C11.7574 4.94466 11.5145 4.84406 11.3354 4.66499C11.1564 4.48592 11.0558 4.24305 11.0558 3.9898C11.0558 3.73656 11.1564 3.49368 11.3354 3.31461C11.5145 3.13554 11.7574 3.03494 12.0106 3.03494C12.2639 3.03494 12.5068 3.13554 12.6858 3.31461C12.8649 3.49368 12.9655 3.73656 12.9655 3.9898ZM8.00022 1.88911C6.11036 1.88911 5.80174 1.89445 4.92251 1.93341C4.32362 1.96168 3.92181 2.04188 3.54904 2.18702C3.21751 2.31536 2.97841 2.4689 2.72404 2.72404C2.48494 2.95504 2.30111 3.23705 2.18626 3.54904C2.04112 3.92334 1.96091 4.32438 1.93341 4.92251C1.89369 5.76584 1.88911 6.0607 1.88911 8.00022C1.88911 9.89008 1.89445 10.1987 1.93341 11.0779C1.96168 11.6761 2.04188 12.0786 2.18626 12.4506C2.31612 12.7829 2.4689 13.022 2.72251 13.2756C2.97994 13.5323 3.21904 13.6858 3.54751 13.8126C3.92487 13.9585 4.32668 14.0395 4.92251 14.067C5.76584 14.1067 6.0607 14.1113 8.00022 14.1113C9.89008 14.1113 10.1987 14.106 11.0779 14.067C11.6753 14.0388 12.0779 13.9586 12.4506 13.8142C12.7814 13.6851 13.022 13.5315 13.2756 13.2779C13.5331 13.0205 13.6866 12.7814 13.8134 12.4529C13.9586 12.0763 14.0395 11.6738 14.067 11.0779C14.1067 10.2346 14.1113 9.93973 14.1113 8.00022C14.1113 6.11036 14.106 5.80174 14.067 4.92251C14.0388 4.32515 13.9586 3.92181 13.8134 3.54904C13.6983 3.23737 13.5148 2.95546 13.2764 2.72404C13.0455 2.48482 12.7635 2.30097 12.4514 2.18626C12.0771 2.04112 11.6753 1.96091 11.0779 1.93341C10.2346 1.89369 9.93973 1.88911 8.00022 1.88911ZM8.00022 0.361328C10.0757 0.361328 10.3347 0.368967 11.149 0.407161C11.9625 0.445356 12.5163 0.572925 13.0037 0.76237C13.5079 0.956398 13.9326 1.21918 14.3573 1.64313C14.7457 2.025 15.0463 2.48692 15.2381 2.99674C15.4267 3.48334 15.5551 4.03793 15.5933 4.85147C15.6292 5.66577 15.6391 5.92473 15.6391 8.00022C15.6391 10.0757 15.6315 10.3347 15.5933 11.149C15.5551 11.9625 15.4267 12.5163 15.2381 13.0037C15.0468 13.5138 14.7462 13.9758 14.3573 14.3573C13.9753 14.7456 13.5134 15.0461 13.0037 15.2381C12.5171 15.4267 11.9625 15.5551 11.149 15.5933C10.3347 15.6292 10.0757 15.6391 8.00022 15.6391C5.92473 15.6391 5.66577 15.6315 4.85147 15.5933C4.03793 15.5551 3.48411 15.4267 2.99674 15.2381C2.48672 15.0467 2.02472 14.7461 1.64313 14.3573C1.25462 13.9755 0.954053 13.5136 0.76237 13.0037C0.572925 12.5171 0.445356 11.9625 0.407161 11.149C0.371259 10.3347 0.361328 10.0757 0.361328 8.00022C0.361328 5.92473 0.368967 5.66577 0.407161 4.85147C0.445356 4.03716 0.572925 3.48411 0.76237 2.99674C0.953522 2.4866 1.25416 2.02456 1.64313 1.64313C2.02483 1.25449 2.48679 0.953899 2.99674 0.76237C3.48411 0.572925 4.03716 0.445356 4.85147 0.407161C5.66577 0.371259 5.92473 0.361328 8.00022 0.361328Z" fill="#149BFC"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<header>
    <nav class="nav-header">
        <div class="nav-header-content">
            <a href="/marbles" class="logo-wrapper">
                        <img alt="logo" class="amblem-logo" src="~/images/logo/oppio-amblem-logo.svg"/>
                        <img alt="logo" class="text-logo" src="~/images/logo/oppio-text-logo.svg"/>
                    </a>
                    <div id="hamburger-wrapper" class="hamburger-wrapper">
                        <img alt="hamburger" class="" src="~/images/hamburger.svg"/>
                    </div>
                    <div id="nav-search-wrapper" class="nav-search-wrapper">
                        <div id="nav-search-input-wrapper" class="nav-search-input-wrapper">
                            <svg class="nav-search-input-logo" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="nav-search-input-logo" d="M9.375 4.125C12.2729 4.125 14.625 6.47711 14.625 9.375C14.625 12.2729 12.2729 14.625 9.375 14.625C6.47711 14.625 4.125 12.2729 4.125 9.375C4.125 6.47711 6.47711 4.125 9.375 4.125ZM9.375 14.125C11.999 14.125 14.125 11.999 14.125 9.375C14.125 6.75036 11.9989 4.625 9.375 4.625C6.75039 4.625 4.625 6.75039 4.625 9.375C4.625 11.9989 6.75036 14.125 9.375 14.125ZM14.3247 14.6782L14.6782 14.3247L15.9159 15.5619L15.5619 15.9159L14.3247 14.6782Z" fill="#A0A3BD" stroke="#A0A3BD" stroke-width="0.75"/>
                            </svg>
                            <input id="nav-search-input" class="nav-search-input" placeholder="Oppy’de Ara"/>
                        </div>
                        <a href="#" class="nav-search-input-button">
                            <img alt="search" src="~/images/search-button.svg" class="nav-search-button-logo"/>
                        </a>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="buttons-logged-in-wrapper" style="width: auto;">
                            <div class="buttons-wrapper">
                                <a href="/add-marble" class="login-button">Ekle</a>
                            </div>
                            <a href="#" class="logged-in-avatar-wrapper">
                                <img src="~/images/user-svgrepo-com.svg" alt="avatar" class="logged-in-avatar">
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="menu-wrapper">
                            <div class="buttons-wrapper">
                                <a href="/login" class="login-button">Giriş Yap</a>
                                <a href="/register" class="register-button">Kayıt Ol</a>
                            </div>
                        </div>
                    }
        </div>
    </nav>
</header>
@RenderBody()
<footer class="footer">
    <div class="footer-content">
        <div class="footer-middle">
            <div class="footer-middle-left">
                <div class="footer-logo-wrapper">
                    <img alt="logo" src="~/images/logo/oppio-bottom-amblem-logo.svg"/>
                    <img alt="logo" class="footer-logo-amblem-text" src="~/images/logo/oppio-bottom-text-logo.svg"/>
                </div>
                <p class="footer-logo-text">Oppio, mermeri yapısı ve rengi açısından analizini yapıp kalitesini belirlemeyi amaçlayan ücretsiz bir platformdur.</p>
                <div class="footer-mail-wrapper">
                    <img alt="mail" src="~/images/mail.svg" class="footer-mail-logo"/>
                    <p class="footer-mail-text">Oppio@oppio.com</p>
                </div>
            </div>
            <div class="footer-middle-right">
                <div class="footer-left-pages">
                    <p class="footer-left-page-title">Sayfalar</p>
                    <ul class="footer-list">
                        <li class="footer-list-item">
                            <div class="footer-left-page-item-wrapper">
                                <a href="#" class="footer-left-page-item">
                                    Anasayfa
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-left-page-item-wrapper">
                                <a href="#" class="footer-left-page-item">
                                    Hakkımızda
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-left-page-item-wrapper">
                                <a href="#" class="footer-left-page-item">
                                    Sorular
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-left-page-item-wrapper">
                                <a href="#" class="footer-left-page-item">
                                    İletişim
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-left-page-item-wrapper">
                                <a href="#" class="footer-left-page-item">
                                    Profil Sayfası
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-right-pages">
                    <p class="footer-right-page-title">Dökümantasyon</p>
                    <ul class="footer-list">
                        <li class="footer-list-item">
                            <div class="footer-right-page-item-wrapper">
                                <a href="#" class="footer-right-page-item">
                                    Kullanım Koşulları
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-right-page-item-wrapper">
                                <a href="#" class="footer-right-page-item">
                                    Gizlilik Sözleşmesi
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-right-page-item-wrapper">
                                <a href="#" class="footer-right-page-item">
                                    Çerez Politikası
                                </a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="footer-right-page-item-wrapper">
                                <a href="#" class="footer-right-page-item">
                                    Kişisel Verilerin Korunması
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-divider"></div>
            <p class="footer-copyright-text">© 2022 Copyright</p>
        </div>
        <div class="footer-social-media">
            <a href="#" class="social-media-item-wrapper">
                <img alt="facebook" src="~/images/facebook.svg"/>
            </a>
            <a href="#" class="social-media-item-wrapper">
                <img alt="instagram" src="~/images/instagram.svg"/>
            </a>
            <a href="#" class="social-media-item-wrapper">
                <img alt="twitter" src="~/images/twitter.svg"/>
            </a>
        </div>
    </div>
</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
<script type="text/javascript" src="~/js/hamburgerMenu.js"></script>
<script type="text/javascript" src="~/js/registerPopup.js"></script>
<script type="text/javascript" src="~/js/registerPopupValidation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
</body>
</html>