@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="password-confirmation-wrapper">
    <div class="password-confirmation-content">
        <div class="password-confirmation-tick-image-wrapper">
            <img src="~/images/tick.svg" alt="tick" class="password-confirmation-tick-image">
        </div>
        <div class="password-confirmation-text-area">
            <h4 class="password-confirmation-first-text">Yenileme linki gönderildi.</h4>
            <p class="password-confirmation-second-text">Şifre yenileme linkiniz eposta adresinize gönderildi.</p>
        </div>
        <a href="/login" class="password-confirmation-login-button">
            <p class="password-confirmation-login-button-text">Giriş Yap</p>
        </a>
    </div>
</div>