@{
    ViewBag.Title = "Mermer Ekleme";
    Layout = "_Layout";
}
<div class="page-navigator-wrapper">
    <div class="page-navigator-content">
        <a href="/marbles" class="page-navigator-text">Anasayfa</a>
        <svg class="page-navigator-divider" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.81055 5.08453L0.0292969 1.30328L1.10944 0.223145L5.97083 5.08453L1.10944 9.94592L0.0292972 8.86578L3.81055 5.08453Z" fill="#D9DBE9"/>
        </svg>
        <p class="page-navigator-text">Merme Ekle</p>
        <svg class="page-navigator-divider" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.81055 5.08453L0.0292969 1.30328L1.10944 0.223145L5.97083 5.08453L1.10944 9.94592L0.0292972 8.86578L3.81055 5.08453Z" fill="#D9DBE9"/>
        </svg>
        <p class="page-navigator-text">Mermer Başarıyla Eklendi</p>
    </div>
</div>
<div class="add-post-confirmation-wrapper">
    <div class="add-post-confirmation-content">
        <div class="add-post-confirmation-tick-image-wrapper">
            <img src="~/images/tick.svg" alt="tick" class="add-post-confirmation-tick-image">
        </div>
        <div class="add-post-confirmation-text-area">
            <h4 class="add-post-confirmation-first-text">Tamamlandı</h4>
            <p class="add-post-confirmation-second-text">Mermer başarıyla eklendi.</p>
        </div>
        <a href="/marbles" class="add-post-confirmation-login-button">
            <p class="add-post-confirmation-login-button-text">Anasayfa</p>
        </a>
    </div>
</div>
