@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="header-hero-wrapper">
    <div class="header-hero-content">
        <h2 class="hero-top-text">Oppio'ya <a style="color: var(--main-dodger-blue);">hoşgeldin</a></h2>
        <h5 class="hero-bottom-text">Mermerinizin yüzey alanını ve rengini tespit ederek kalitesini ölçüyoruz.</h5>
        <a href="/marbles">
            <button class="hero-home-button">Anasayfaya Git</button>
        </a>
    </div>
</div>
<div class="ne-yapildi-wrapper">
    <div class="ne-yapildi-content">
        <h4 class="ne-yapildi-top-text">
            Ne Yapıldı?
        </h4>
        <h2 class="ne-yapildi-bottom-text">
            Bugüne kadar;
        </h2>
        <div class="variables">
            <div class="row">
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            10 bin+
                            <pre class="desktop-pre">kullanıcı katıldı</pre>
                            <pre class="mobile-pre">kullanıcı</pre>
                            <pre class="mobile-pre">katıldı</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            50 bin+
                            <pre class="desktop-pre">mermer sipariş edildi</pre>
                            <pre class="mobile-pre">mermer</pre>
                            <pre class="mobile-pre">sipariş edildi</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 53px">
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            120 bin+
                            <pre class="desktop-pre">mermer tespit edildi</pre>
                            <pre class="mobile-pre">tespit</pre>
                            <pre class="mobile-pre">edildi</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            120+
                            <pre class="desktop-pre">ekip arkadaşı</pre>
                            <pre class="mobile-pre">ekip</pre>
                            <pre class="mobile-pre">arkadaşı</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categories-wrapper" style="margin-bottom:50px;">
    <div class="categories-content">
        <h4 class="categories-top-text">
            MERMER KALİTELERİ
        </h4>
        <div class="category-item-wrapper">
            <div class="category-item">
                <div class="category-image-wrapper">
                    <i class="fa-solid fa-a"></i><i class="fa-solid fa-plus"></i>
                </div>
                <h5 class="category-name">
                    Mükemmel Kalite Mermer
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(235, 68, 165, 0.3);">
                    <i class="fa-solid fa-a"></i>
                </div>
                <h5 class="category-name">
                   Çok Yüksek Kalite Mermer
                </h5>
                <p class="category-description">
                    Oh, that You would rend the heavens! That You would come down! That the mountains might shake at Your presence! (Isaiah ...
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(252, 20, 20, 0.3);">
                    <i class="fa-solid fa-b"></i><i class="fa-solid fa-plus"></i>
                </div>
                <h5 class="category-name">
                    Yüksek Kalite Mermer
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(0, 161, 84, 0.3);">
                    <i class="fa-solid fa-b"></i>
                </div>
                <h5 class="category-name">
                    Orta Kalite Mermer
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(200, 144, 2, 0.3);">
                    <i class="fa-solid fa-c"></i><i class="fa-solid fa-plus"></i>
                </div>
                <h5 class="category-name">
                    İdare Eder Kalite Mermer
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(68, 225, 235, 0.3);">
                    <i class="fa-solid fa-c"></i>
                </div>
                <h5 class="category-name">
                    Düşük Kalite Mermer
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(20, 155, 252, 0.3);">
                    <i class="fa-solid fa-d"></i>
                </div>
                <h5 class="category-name">
                    Çok Düşük Kalite Mermer
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
        </div>
    </div>
</div>