@{
    ViewData["Title"] = "Home Page";
}

<div class="header-hero-wrapper">
    <div class="header-hero-content">
        <h2 class="hero-top-text">Yaşamak sanat, birlikte yaşamak <a style="color: var(--main-dodger-blue);">büyük sanattır.</a></h2>
        <h5 class="hero-bottom-text">Oppio, farklı düşünceleri öğrenmeyi, onlara alışmayı ve onlarla birlikte yaşamayı amaçlayan sosyal bir platformdur.</h5>
        <a href="/feed">
            <button class="hero-home-button">Anasayfaya Git</button>
        </a>
    </div>
</div>
<div class="ne-yapildi-wrapper">
    <div class="ne-yapildi-content">
        <h4 class="ne-yapildi-top-text">
            Ne Yapıldı?
        </h4>
        <h2 class="ne-yapildi-bottom-text">
            Bugüne kadar;
        </h2>
        <div class="variables">
            <div class="row">
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            10 bin+
                            <pre class="desktop-pre">kullanıcı katıldı</pre>
                            <pre class="mobile-pre">kullanıcı</pre>
                            <pre class="mobile-pre">katıldı</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            50 bin+
                            <pre class="desktop-pre">soru soruldu</pre>
                            <pre class="mobile-pre">soru</pre>
                            <pre class="mobile-pre">soruldu</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 53px">
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            120 bin+
                            <pre class="desktop-pre">cevap verildi</pre>
                            <pre class="mobile-pre">cevap</pre>
                            <pre class="mobile-pre">verildi</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
                <div class="column">
                    <div class="variable">
                        <div class="variable-rect"></div>
                        <h4 class="variable-text">
                            120+
                            <pre class="desktop-pre">ekip arkadaşı</pre>
                            <pre class="mobile-pre">ekip</pre>
                            <pre class="mobile-pre">arkadaşı</pre>
                        </h4>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categories-wrapper">
    <div class="categories-content">
        <h4 class="categories-top-text">
            KATEGORİLER
        </h4>
        <div class="category-item-wrapper">
            <div class="category-item">
                <div class="category-image-wrapper">
                    <img alt="category" src="~/images/categories/category-ekonomi.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    Ekonomi
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(235, 68, 165, 0.3);">
                    <img alt="category" src="~/images/categories/category-iliski.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    İlişkiler
                </h5>
                <p class="category-description">
                    Oh, that You would rend the heavens! That You would come down! That the mountains might shake at Your presence! (Isaiah ...
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(252, 20, 20, 0.3);">
                    <img alt="category" src="~/images/categories/category-kultur-sanat.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    Kültür Sanat
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(0, 161, 84, 0.3);">
                    <img alt="category" src="~/images/categories/category-siyaset.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    Siyaset
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(200, 144, 2, 0.3);">
                    <img alt="category" src="~/images/categories/category-dusunce-bilim.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    Düşünce&Bilim
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(68, 225, 235, 0.3);">
                    <img alt="category" src="~/images/categories/category-tavsiye.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    Tavsiye
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
            <div class="category-item">
                <div class="category-image-wrapper" style="background: rgba(20, 155, 252, 0.3);">
                    <img alt="category" src="~/images/categories/category-rastgele.svg" class="category-image"/>
                </div>
                <h5 class="category-name">
                    Rastgele
                </h5>
                <p class="category-description">
                    Megachurch Pastor Jonathan Stockstill is on a mission to combat cultural Christianity.
                </p>
                <a class="right-arrow-wrapper">
                    <img alt="right-arrow" src="~/images/right-arrow.svg"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="last-questions-wrapper">
<div class="last-questions-content">
<h4 class="last-questions-top-text">
    SON SORULAR
</h4>
<div class="desktop-last-questions">
    <div class="last-questions-inside-wrapper">
        <div class="last-questions-post-wrapper">
            <div class="last-questions-post">
                <img class="last-questions-post-avatar" alt="avatar" src="~/images/avatars/avatar.svg"/>
                <div class="last-questions-post-question-area">
                    <div class="last-questions-post-category-wrapper">
                        <div class="last-questions-post-category">
                            <div class="last-questions-post-category-image-wrapper">
                                <img alt="category" src="~/images/categories/category-iliski-outline.svg" class="last-questions-post-category-image"/>
                            </div>
                            <p class="last-questions-post-category-name">
                                İlişkiler
                            </p>
                        </div>
                    </div>
                    <p class="last-questions-post-question">Sevgilimin doğum gününü nerede kutlamalıyım?</p>
                </div>
                <div class="last-questions-post-user-wrapper">
                    <p class="last-questions-post-user-nickname">
                        nooksseverance
                    </p>
                    <div class="last-questions-post-date-wrapper">
                        <p class="last-questions-post-date">13.08.2001</p>
                        <p class="last-questions-post-date">14:05</p>
                    </div>
                    <div class="last-questions-post-views-wrapper">
                        <img alt="view" src="~/images/eye.svg" class="last-questions-post-views-image"/>
                        <p class="last-questions-post-views-text">198 kişi görüntüledi</p>
                    </div>
                </div>
            </div>
            <div class="last-questions-post">
                <img class="last-questions-post-avatar" alt="avatar" src="~/images/avatars/avatar.svg"/>
                <div class="last-questions-post-question-area">
                    <div class="last-questions-post-category-wrapper">
                        <div class="last-questions-post-category">
                            <div class="last-questions-post-category-image-wrapper">
                                <img alt="category" src="~/images/categories/category-iliski-outline.svg" class="last-questions-post-category-image"/>
                            </div>
                            <p class="last-questions-post-category-name">
                                İlişkiler
                            </p>
                        </div>
                    </div>
                    <p class="last-questions-post-question">Sevgilimin doğum gününü nerede kutlamalıyım?</p>
                </div>
                <div class="last-questions-post-user-wrapper">
                    <p class="last-questions-post-user-nickname">
                        nooksseverance
                    </p>
                    <div class="last-questions-post-date-wrapper">
                        <p class="last-questions-post-date">13.08.2001</p>
                        <p class="last-questions-post-date">14:05</p>
                    </div>
                    <div class="last-questions-post-views-wrapper">
                        <img alt="view" src="~/images/eye.svg" class="last-questions-post-views-image"/>
                        <p class="last-questions-post-views-text">198 kişi görüntüledi</p>
                    </div>
                </div>
            </div>
            <div class="last-questions-post">
                <img class="last-questions-post-avatar" alt="avatar" src="~/images/avatars/avatar.svg"/>
                <div class="last-questions-post-question-area">
                    <div class="last-questions-post-category-wrapper">
                        <div class="last-questions-post-category">
                            <div class="last-questions-post-category-image-wrapper">
                                <img alt="category" src="~/images/categories/category-iliski-outline.svg" class="last-questions-post-category-image"/>
                            </div>
                            <p class="last-questions-post-category-name">
                                İlişkiler
                            </p>
                        </div>
                    </div>
                    <p class="last-questions-post-question">Sevgilimin doğum gününü nerede kutlamalıyım?</p>
                </div>
                <div class="last-questions-post-user-wrapper">
                    <p class="last-questions-post-user-nickname">
                        nooksseverance
                    </p>
                    <div class="last-questions-post-date-wrapper">
                        <p class="last-questions-post-date">13.08.2001</p>
                        <p class="last-questions-post-date">14:05</p>
                    </div>
                    <div class="last-questions-post-views-wrapper">
                        <img alt="view" src="~/images/eye.svg" class="last-questions-post-views-image"/>
                        <p class="last-questions-post-views-text">198 kişi görüntüledi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-dot-wrapper">
            <div class="flex-wrapper">
                <img class="slider-dot slider-active" alt="dot" src="~/images/slider-dot-active.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
            </div>
        </div>
    </div>
</div>
<div class="tablet-last-questions">
    <div class="last-questions-inside-wrapper">
        <div class="last-questions-post-wrapper">
            <div class="last-questions-post">
                <img class="last-questions-post-avatar" alt="avatar" src="~/images/avatars/avatar.svg"/>
                <div class="last-questions-post-question-area">
                    <div class="last-questions-post-category-wrapper">
                        <div class="last-questions-post-category">
                            <div class="last-questions-post-category-image-wrapper">
                                <img alt="category" src="~/images/categories/category-iliski-outline.svg" class="last-questions-post-category-image"/>
                            </div>
                            <p class="last-questions-post-category-name">
                                İlişkiler
                            </p>
                        </div>
                    </div>
                    <p class="last-questions-post-question">Sevgilimin doğum gününü nerede kutlamalıyım?</p>
                </div>
                <div class="last-questions-post-user-wrapper">
                    <p class="last-questions-post-user-nickname">
                        nooksseverance
                    </p>
                    <div class="last-questions-post-date-wrapper">
                        <p class="last-questions-post-date">13.08.2001</p>
                        <p class="last-questions-post-date">14:05</p>
                    </div>
                    <div class="last-questions-post-views-wrapper">
                        <img alt="view" src="~/images/eye.svg" class="last-questions-post-views-image"/>
                        <p class="last-questions-post-views-text">198 kişi görüntüledi</p>
                    </div>
                </div>
            </div>
            <div class="last-questions-post">
                <img class="last-questions-post-avatar" alt="avatar" src="~/images/avatars/avatar.svg"/>
                <div class="last-questions-post-question-area">
                    <div class="last-questions-post-category-wrapper">
                        <div class="last-questions-post-category">
                            <div class="last-questions-post-category-image-wrapper">
                                <img alt="category" src="~/images/categories/category-iliski-outline.svg" class="last-questions-post-category-image"/>
                            </div>
                            <p class="last-questions-post-category-name">
                                İlişkiler
                            </p>
                        </div>
                    </div>
                    <p class="last-questions-post-question">Sevgilimin doğum gününü nerede kutlamalıyım?</p>
                </div>
                <div class="last-questions-post-user-wrapper">
                    <p class="last-questions-post-user-nickname">
                        nooksseverance
                    </p>
                    <div class="last-questions-post-date-wrapper">
                        <p class="last-questions-post-date">13.08.2001</p>
                        <p class="last-questions-post-date">14:05</p>
                    </div>
                    <div class="last-questions-post-views-wrapper">
                        <img alt="view" src="~/images/eye.svg" class="last-questions-post-views-image"/>
                        <p class="last-questions-post-views-text">198 kişi görüntüledi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-dot-wrapper">
            <div class="flex-wrapper">
                <img class="slider-dot slider-active" alt="dot" src="~/images/slider-dot-active.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
            </div>
        </div>
    </div>
</div>
<div class="mobile-last-questions">
    <div class="last-questions-inside-wrapper">
        <div class="last-questions-post-wrapper">
            <div class="last-questions-post">
                <img class="last-questions-post-avatar" alt="avatar" src="~/images/avatars/avatar.svg"/>
                <div class="last-questions-post-question-area">
                    <div class="last-questions-post-category-wrapper">
                        <div class="last-questions-post-category">
                            <div class="last-questions-post-category-image-wrapper">
                                <img alt="category" src="~/images/categories/category-iliski-outline.svg" class="last-questions-post-category-image"/>
                            </div>
                            <p class="last-questions-post-category-name">
                                İlişkiler
                            </p>
                        </div>
                    </div>
                    <p class="last-questions-post-question">Sevgilimin doğum gününü nerede kutlamalıyım?</p>
                </div>
                <div class="last-questions-post-user-wrapper">
                    <p class="last-questions-post-user-nickname">
                        nooksseverance
                    </p>
                    <div class="last-questions-post-date-wrapper">
                        <p class="last-questions-post-date">13.08.2001</p>
                        <p class="last-questions-post-date">14:05</p>
                    </div>
                    <div class="last-questions-post-views-wrapper">
                        <img alt="view" src="~/images/eye.svg" class="last-questions-post-views-image"/>
                        <p class="last-questions-post-views-text">198 kişi görüntüledi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-dot-wrapper">
            <div class="flex-wrapper">
                <img class="slider-dot slider-active" alt="dot" src="~/images/slider-dot-active.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
                <img class="slider-dot" alt="dot" src="~/images/slider-dot.svg"/>
            </div>
        </div>
    </div>
</div>
</div>
</div>